sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 65em;
	font-size: 1em;
	margin: 0 auto;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 45em;
}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 45em;
}
.stl_06 {
	height: 6.5em;
}
.ie .stl_06 {
	height: 65em;
}
@font-face {
	font-family:"SLBQUW+Microsoft JhengHei UI Light";
	src:url("59c62cf0-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 1.33em;
	font-family: "SLBQUW+Microsoft JhengHei UI Light", "Times New Roman";
	color: #A6A6A6;
}
.stl_08 {
	line-height: 1.27002em;
}
.stl_09 {
	letter-spacing: 0.1105em;
}

.ie .stl_09 {
	letter-spacing: 2.3522px;
}
@font-face {
	font-family:"KNKKPL+å¾®è½¯é�»";
	src:url("9c3632a9-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 1.33em;
	font-family: "KNKKPL+å¾®è½¯é�»", "Times New Roman";
	color: #51B2FA;
}
.stl_11 {
	line-height: 1.319824em;
}
.stl_12 {
	letter-spacing: 0.1278em;
}

.ie .stl_12 {
	letter-spacing: 2.72px;
}
.stl_13 {
	font-size: 1.672em;
	font-family: "KNKKPL+å¾®è½¯é�»", "Times New Roman";
	color: #FFFFFF;
}
.stl_14 {
	letter-spacing: 0em;
}

.ie .stl_14 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"TCMVSH+Arial";
	src:url("dd8cac92-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 0.83em;
	font-family: "TCMVSH+Arial", "Times New Roman";
	color: #767171;
}
.stl_16 {
	line-height: 1.117188em;
}
.stl_17 {
	font-size: 0.83em;
	font-family: "KNKKPL+å¾®è½¯é�»", "Times New Roman";
	color: #767171;
}
.stl_18 {
	letter-spacing: 0.0017em;
}

.ie .stl_18 {
	letter-spacing: 0.0229px;
}
@font-face {
	font-family:"HJTPOD+å¾®è½¯é�»";
	src:url("533a9a9e-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_19 {
	font-size: 0.83em;
	font-family: "HJTPOD+å¾®è½¯é�»";
	color: #767171;
}
.stl_20 {
	font-size: 1em;
	font-family: "HJTPOD+å¾®è½¯é�»";
	color: #FFFFFF;
}
.stl_21 {
	letter-spacing: -0.0104em;
}

.ie .stl_21 {
	letter-spacing: -0.1662px;
}
@font-face {
	font-family:"VTATLO+Times New Roman,Italic";
	src:url("5fc09a85-0002-0000-0000-000000000000.woff") format("woff");
}
.stl_22 {
	font-size: 1.17em;
	font-family: "VTATLO+Times New Roman,Italic";
	color: #DAE3F3;
}
.stl_23 {
	line-height: 1.107422em;
}
.stl_24 {
	letter-spacing: -0.0032em;
}

.ie .stl_24 {
	letter-spacing: -0.0606px;
}
.stl_25 {
	letter-spacing: 0.0016em;
}

.ie .stl_25 {
	letter-spacing: 0.0217px;
}
.stl_26 {
	letter-spacing: 0.0005em;
}

.ie .stl_26 {
	letter-spacing: 0.0071px;
}
.stl_27 {
	letter-spacing: -0.0073em;
}

.ie .stl_27 {
	letter-spacing: -0.1164px;
}
.stl_28 {
	font-size: 1em;
	font-family: "KNKKPL+å¾®è½¯é�»", "Times New Roman";
	color: #FFFFFF;
}
.stl_29 {
	font-size: 1.33em;
	font-family: "KNKKPL+å¾®è½¯é�»", "Times New Roman";
	color: #FFFFFF;
}
.stl_30 {
	letter-spacing: 0.0013em;
}

.ie .stl_30 {
	letter-spacing: 0.0176px;
}
.stl_31 {
	letter-spacing: 0.0012em;
}

.ie .stl_31 {
	letter-spacing: 0.0158px;
}
.stl_32 {
	font-size: 1.17em;
	font-family: "HJTPOD+å¾®è½¯é�»";
	color: #51B2FA;
}
.stl_33 {
	letter-spacing: -0.0044em;
}

.ie .stl_33 {
	letter-spacing: -0.0817px;
}
.stl_34 {
	font-size: 1.17em;
	font-family: "KNKKPL+å¾®è½¯é�»", "Times New Roman";
	color: #51B2FA;
}
.stl_35 {
	font-size: 1em;
	font-family: "KNKKPL+å¾®è½¯é�»", "Times New Roman";
	color: #A6A6A6;
}
.stl_36 {
	letter-spacing: 0.0002em;
}

.ie .stl_36 {
	letter-spacing: 0.0022px;
}
.stl_37 {
	letter-spacing: 0.1128em;
}

.ie .stl_37 {
	letter-spacing: 2.4px;
}
.stl_38 {
	font-size: 0.922em;
	font-family: "HJTPOD+å¾®è½¯é�»";
	color: #51B2FA;
}
.stl_39 {
	letter-spacing: -0.0012em;
}

.ie .stl_39 {
	letter-spacing: -0.0176px;
}
.stl_40 {
	font-size: 0.922em;
	font-family: "KNKKPL+å¾®è½¯é�»", "Times New Roman";
	color: #51B2FA;
}
.stl_41 {
	font-size: 0.83em;
	font-family: "VTATLO+Times New Roman,Italic";
	color: #A6A6A6;
}
.stl_42 {
	letter-spacing: 0.0021em;
}

.ie .stl_42 {
	letter-spacing: 0.0277px;
}
.stl_43 {
	font-size: 0.83em;
	font-family: "HJTPOD+å¾®è½¯é�»";
	color: #BFBFBF;
}
.stl_44 {
	letter-spacing: 0.0028em;
}

.ie .stl_44 {
	letter-spacing: 0.037px;
}
.stl_45 {
	letter-spacing: 0.023em;
}

.ie .stl_45 {
	letter-spacing: 0.3054px;
}
.stl_46 {
	letter-spacing: 0.0009em;
}

.ie .stl_46 {
	letter-spacing: 0.0125px;
}
.stl_47 {
	font-size: 1.25em;
	font-family: "KNKKPL+å¾®è½¯é�»", "Times New Roman";
	color: #FFFFFF;
}
.stl_48 {
	letter-spacing: 0.0097em;
}

.ie .stl_48 {
	letter-spacing: 0.1292px;
}
.stl_49 {
	font-size: 0.832em;
	font-family: "KNKKPL+å¾®è½¯é�»", "Times New Roman";
	color: #767171;
}
.stl_50 {
	letter-spacing: 0.007em;
}

.ie .stl_50 {
	letter-spacing: 0.0932px;
}
.stl_51 {
	font-size: 0.832em;
	font-family: "HJTPOD+å¾®è½¯é�»";
	color: #767171;
}
.stl_52 {
	letter-spacing: 0.0003em;
}

.ie .stl_52 {
	letter-spacing: 0.0044px;
}
.stl_53 {
	letter-spacing: 0.0373em;
}

.ie .stl_53 {
	letter-spacing: 0.4959px;
}
.stl_54 {
	letter-spacing: 0.0011em;
}

.ie .stl_54 {
	letter-spacing: 0.0142px;
}
.stl_55 {
	font-size: 1em;
	font-family: "HJTPOD+å¾®è½¯é�»";
	color: #BFBFBF;
}
.stl_56 {
	letter-spacing: 0.001em;
}

.ie .stl_56 {
	letter-spacing: 0.0156px;
}
.stl_57 {
	font-size: 0.88em;
	font-family: "KNKKPL+å¾®è½¯é�»", "Times New Roman";
	color: #BFBFBF;
}
.stl_58 {
	letter-spacing: 0.0134em;
}

.ie .stl_58 {
	letter-spacing: 0.1773px;
}
.stl_59 {
	font-size: 0.92em;
	font-family: "KNKKPL+å¾®è½¯é�»", "Times New Roman";
	color: #51B2FA;
}
.stl_60 {
	font-size: 0.832em;
	font-family: "HJTPOD+å¾®è½¯é�»";
	color: #BFBFBF;
}
.stl_61 {
	letter-spacing: 0.0019em;
}

.ie .stl_61 {
	letter-spacing: 0.0254px;
}
.stl_62 {
	letter-spacing: 0.0215em;
}

.ie .stl_62 {
	letter-spacing: 0.2855px;
}
.stl_63 {
	letter-spacing: 0.0014em;
}

.ie .stl_63 {
	letter-spacing: 0.0184px;
}
.stl_64 {
	font-size: 0.92em;
	font-family: "TCMVSH+Arial", "Times New Roman";
	color: #A6A6A6;
}
.stl_65 {
	font-size: 0.92em;
	font-family: "HJTPOD+å¾®è½¯é�»";
	color: #A6A6A6;
}
.stl_66 {
	letter-spacing: 0.0431em;
}

.ie .stl_66 {
	letter-spacing: 0.6346px;
}
.stl_67 {
	font-size: 0.92em;
	font-family: "KNKKPL+å¾®è½¯é�»", "Times New Roman";
	color: #A6A6A6;
}
.stl_68 {
	letter-spacing: 0.0257em;
}

.ie .stl_68 {
	letter-spacing: 0.341px;
}
.stl_69 {
	letter-spacing: 0.0015em;
}

.ie .stl_69 {
	letter-spacing: 0.0193px;
}
.stl_70 {
	letter-spacing: 0.0619em;
}

.ie .stl_70 {
	letter-spacing: 0.8227px;
}
.stl_71 {
	font-size: 1em;
	font-family: "HJTPOD+å¾®è½¯é�»";
	color: #A6A6A6;
}
.stl_72 {
	letter-spacing: -0.0014em;
}

.ie .stl_72 {
	letter-spacing: -0.0228px;
}
.stl_73 {
	letter-spacing: 0.0022em;
}

.ie .stl_73 {
	letter-spacing: 0.0295px;
}
.stl_74 {
	letter-spacing: 0.002em;
}

.ie .stl_74 {
	letter-spacing: 0.0272px;
}
.stl_75 {
	letter-spacing: 0.0023em;
}

.ie .stl_75 {
	letter-spacing: 0.0308px;
}
